{% extends 'layout_index.twig' %}
{% block content %}

   <li class="col-lg-3  m-b-30">
        <h1 class="m-b-20">ARTICOLE</h1>

    </li>
    <div class="row justify-content-center">

        <div class="col col-lg-4">
         <div id="contactid" >
        <li>
        <h2 class="m-b-20">Descrierea aplicației noastre</h2>
        <p1 Cati dintre voi ati simtit vreodata ca pierdeti bani pe cumparaturi inutile si pe lucruri de care nici nu aveti nevoie defapt. 
	Smartwatch-ul ala care l-ai luat de BlackFriday numai pentru ca era 30% reducere si care acum aduna praful pe birou. Sau setul ala de pictura pe care l-ai luat de la Lidl pentru ca te gandeai ca o sa incepi o cariera artistica. Sau apa aia in sticla de sticla care ai numai pentru ca iti placea cum arata. 
	Daca am sta sa analizam cu siguranta ne-am i9ngrozi de multimea de lucruri pe care nici macar nu le folosim dar pentru care am dat bani grei. Dar pastrarea contabililitatii necesita mult timp asa ca pana la urma ne trezim la sfarsit de luna cu buzunarul gol.
	O varianta de rezolvare a problemei ar fi probabil un tabel Excel cu toate veniturile si cheltuieliile. Dar cine sta sa faca asa ceva. 
	Astfel, echipa noastra a venit cu PiggyBank, o aplicatrie de contorizare a baniilor ce iti permite cu ajutorul unei interfatei prietenoase si a graficelor clare si usor de citit sa iti vezi atat lucrurile pe care pierzi bani inutil cat si progresul sau regresul…
	Aplicatia dedicata oamenilor de toate varstele ce isi doresc o viata prospera din punct de vedere financiar iti ofera posibilitatea de a-ti supraveghea activitatea fianciara de pe orice calculator sau trelefon mobil fiind-uti totdeauna la indemana. 
	Interfata simpla si usor de utilizat e potrivita pentru oricine si nu are nevoie e cunostinte suplimentare in domeniul informatic. Tutorialele de pe p[rima pagina cat si serviciul nostru de suport printr-un formular de contact usor de utilizat te vor ajuta in cazul in care nu te descurci. 
	Cu ajutorul monitorizarii veniturilor si a cheltuielilor, veti putea stii pe ce s-au dus banii vostri si veti putea sa vedeti principalele zone in care puteti sa cheltuiti mai putin
	Asa ca, intra acum pe site-ul nostru, fa-ti cont, alege metoda de plata si incearca perioada gratuita de 30 de zile. 
	PiggyBank drumul tau spre o viata prospera> </p1>                            
            
        </li>
</div>
 {% endblock %}