{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
      
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->

    <!-- Start Page Content -->
    <div class="row">
            <div class="container-fluid">
                <!-- Start Page Content -->
                 <div class="row">
        <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4 class="black">Cheltuieli</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead>
                                    <tr>
                                        <th>Monedă</th>
                                        <th>Sumă</th>
                                        <th>Cont</th>
                                        <th>Categoria</th>
                                        <th>Data</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cheltuiala in cheltuieli %}
                                    <tr>
                                        <td>{{cheltuiala.moneda}}</td>
                                        <td><span class="badge badge-primary">{{cheltuiala.suma}}</span></td>
                                        <td>{{cheltuiala.cont}}</td>
                                        <td>{{cheltuiala.categoria}}</td>
                                        <td class="color-primary">{{cheltuiala.date|date("m/d/Y")}}</td>
                                        <td>
                                            <a href="/cheltuieli/edit/{{cheltuiala.id}}">Edit</a>
                                            <a href="/cheltuieli/delete/{{cheltuiala.id}}" style="color:red;">X</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
                </div>
        </div>
                <div class="row">
                <div class="margin-left">
                    <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Cheltuieli</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" action="/cheltuieli">
                                    <br/>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select  name="moneda" class="form-control custom-select" tabindex="1">
                                                <option value="">Alege o monedă</option>
                                                <option value="RON">RON</option>
                                                <option value="EUR">EUR</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select  name="cont" class="form-control custom-select" tabindex="1">
                                                <option value="">Alege un cont</option>
                                                {% for cont in conturi %}
                                                    <option value={{ cont.numar }}>{{ cont.numar }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <input type="text" name="categoria" class="form-control" placeholder="Categoria">
                                        <br/>
                                        <div class="form-group">
                                            <input type="date" name="date" class="form-control" placeholder="zz/ll/aaaa">
                                        </div>
                                        <input type="text" name="suma" class="form-control" id="exampleInputname1" placeholder="Sumă">
                                    </div>
                                        <button type="submit" class="btn btn-info">Trimite</button>
                                        <br/>
                                        {% for error in errors %}
                                            <li style="color:red;">{{error.msg}}</li>
                                        {% endfor %}
                                </form>
                                
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title black">Grafic</h4>
                                <div id="morris-line-chart"></div>
                            </div>
                        </div>
                    </div>
                    </div>
        <!-- End PAge Content -->
        </div>
        </div>
    <!-- End Container fluid  -->
{% endblock %}
{% block chartData %}
    <script>
        // Dashboard 1 Morris-chart
$( function () {
	"use strict";
	// Morris bar chart
	// LINE CHART
    var cheltuieli = {{ cheltuieli|json_encode()|raw }};
    var data = [];
    var year = 2016;

    cheltuieli.forEach(function(cheltuiala){
        var doc = cheltuiala._doc;

        var date = new Date(doc.date);
        var year = date.getFullYear();
        var quarter = Math.floor((date.getMonth() + 3) / 3);

        data.push({ item1: doc.suma, y: year + ' Q' + quarter });
    });

    var line = new Morris.Line( {
        element: 'morris-line-chart',
        resize: true,
        data: data,
        xkey: 'y',
        ykeys: [ 'item1' ],
        labels: [ 'Item 1' ],
        gridLineColor: '#eef0f2',
        lineColors: [ '#4680ff' ],
        lineWidth: 1,
        hideHover: 'auto'
    } );

} );

    </script>
{% endblock %}