{% extends 'layout_index.twig' %}
{% block content %}
   <li class="col-lg-3  m-b-30">
        <h1  class="m-b-20" >  CONTACTAȚI-NE  </h1>
                                        
            <form method="post" action="/contact">
                <div class="form-group">
                      <input type="text" class="form-control" name="name" id="exampleInputname1" placeholder="Nume si Prenume"> </div>
                            <div class="form-group">
                                  <input type="email" name="email" class="form-control" placeholder="Adresă de email"> </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="exampleTextarea" rows="3" placeholder="Mesaj"></textarea>
                             </div>
                         <button type="submit" class="btn btn-info">Trimite</button>
             </form>
    </li>
 {% endblock %}