{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
      
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Conturi</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/conturi/edit/{{cont.id}}">
                            <div class="form-group">
                                <input type="text" name="numar"  value="{{cont.numar}}" class="form-control" id="exampleInputname1" placeholder="Număr">
                            </div>
                            <button type="submit" class="btn btn-info">Trimite</button>
                            <br/>
                            {% for error in errors %}
                                <li style="color:red;">{{error.msg}}</li>
                            {% endfor %}
                        </form>
                    </div>
                </div>

            
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock %}