{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4 class="black">Conturi</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Număr cont</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cont in conturi %}
                                    <tr>
                                        <td>{{cont.numar}}</td>
                                        <td>
                                            <a href="/conturi/edit/{{cont.id}}">Editare</a>
                                            <a href="/conturi/delete/{{cont.id}}" style="color:red;">X</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
        </div>

        <div class="row">
         <div class="margin-left">
            <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Cont</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/conturi">
                            <br/>
                            <div class="form-group">
                                <input type="text" name="numar" class="form-control" id="exampleInputname1" placeholder="Număr">
                            </div>
                            <button type="submit" class="btn btn-info">Trimite</button>
                        </form>
                        <br/>
                        {% for error in errors %}
                            <li style="color:red;">{{error.msg}}</li>
                        {% endfor %}
                    </div>
                </div>
                </div>
        <!-- End PAge Content -->
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>
    <!-- End Container fluid  -->
{% endblock %}