<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-89">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="descrl  iwejvibiption" content="">
    <meta name="author" content="">
    <!-- Favicon icon asjgduifg -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/pozabara.png">
    <title>{{title}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">sds
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">hh
        <svg class="circular" viewBox="25 25 50 50">dsfgdsgfsd 
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper-->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
                            <div class="dropdown-menu animated zoomIn">
                                <ul class="mega-dropdown-menu row">


                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACTAȚI-NE</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Nume și Prenume"> </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Adresă de email"> </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Mesaj"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Trimite</button>
                                        </form>
                                    </li>
                                    
                                   
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
                            <div class="dropdown-menu animated zoomIn">
                                <ul class="mega-dropdown-menu row">


                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">DESPRE NOI</h4>
                                        <p class="m-b-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra id nisi et porttitor. Duis auctor congue malesuada. Ut id felis vitae ante sagittis sagittis ac quis libero. Fusce cursus diam felis, a ultrices elit lacinia non. Curabitur eu ligula nisi. Donec dui nisi, mollis sit amet nunc sed, molestie tempus orci. Mauris ex leo, consequat non enim sit amet, ultrices vehicula libero. Mauris tempus commodo sem vitae aliquet. Praesent feugiat ligula a mi porta, ac accumsan elit ornare. Aliquam eget porttitor lacus. Vestibulum mollis pulvinar quam, vel sollicitudin metus elementum ac. Duis libero sem, vehicula sed urna et, finibus scelerisque elit. Curabitur justo metus, aliquam vel luctus imperdiet, placerat id tortor.

Pellentesque erat metus, iaculis non felis eget, aliquam mollis ex. Nam purus diam, molestie at suscipit efficitur, finibus mattis nisl. Mauris iaculis venenatis facilisis. Nullam venenatis tortor luctus turpis laoreet, in iaculis turpis aliquam. Duis vitae enim nisi. Duis sagittis felis sapien, vitae accumsan justo fringilla a. Donec ultricies felis ac neque iaculis eleifend. Morbi euismod urna dignissim efficitur interdum. Aenean quis eleifend turpis, ac hendrerit mi. Sed placerat, dolor vitae interdum suscipit, purus libero lacinia ipsum, ut semper turpis risus sit amet massa.</p>
                                        
                                    </li>
                                    
                                   
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- Search -->
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Căutați în site"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
								<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notificări</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Bine ai venit!</h5> <span class="mail-desc">Ne bucurăm că folosești platforma noastră</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Bine ai venit!</h5> <span class="mail-desc">Ne bucuram ca folosesti platforma noastra</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>Bine ai venit!</h5> <span class="mail-desc">Ne bucuram ca folosesti platforma noastra</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Toate notificările</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
								<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/5.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img    wev wRV"> <img src="images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/users/5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> Balance</a></li>
                                    <li><a href="#"><i class="ti-emW    EV  WRVail"></i> Inbox</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End headerheader -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Panou de comanda <span class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/ecommerce">Ecommerce</a></li>
                                <li><a href="/analytics">Analytics </a></li>
                            </ul>
                        </li>

<!-- fa fa - {book,calculator,pencil,info} -->

  <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-briefcase"></i><span class="hide-menu">Conturile mele <span class="label label-rouded label-warning pull-right">3</span></span></a> 
             <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-button.html">Situație conturi</a></li>
                                <li><a href="ui-button.html">Editare conturi</a></li>
                                <li><a href="ui-button.html">Transfer între conturi</a></li>
             </ul>

    </li>
   <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-briefcase"></i><span class="hide-menu">Venituri <span class="label label-rouded label-warning pull-right">3</span></span></a> 
             <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-button.html">Situație venituri</a></li>
                                <li><a href="ui-button.html">Editare venituri</a></li>
             </ul>

    </li>
<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Cheltuieli<span class="label label-rouded label-warning pull-right">3</span></span></a>

                            <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-button.html">Situație cheltuieli</a></li>
                                <li><a href="ui-button.html">Editare cheltuieli</a></li>
                                
                            </ul>
                        </li>

<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Economii <span class="label label-rouded label-warning pull-right">2</span></span></a>   
            <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-button.html">Obiective</a></li>
                                <li><a href="ui-button.html">Profit</a></li> <!-- per week,per year,per 6 months charts -->
                                
            </ul>
 </li>
 

 <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Facturile mele<span class="label label-rouded label-warning pull-right">4</span></span></a>

                            <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-button.html">Facturi</a></li>
                                <li><a href="ui-button.html">Extrase de cont</a></li>
                                <li><a href="ui-button.html">Împrumuturi</a></li>
                                <!--SAU PUTEM CA TOATE CELE 3 + altele (comisioane,chitante) sa fie dupa ce apasam pe "my bills" si sa le putem edita acolo -->
                                <li><a href="ui-button.html">Unde pot să îmi plătesc facturile?</a></li>
                            </ul>
                        </li>
                    
 <li> <a href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Previziuni financiare<span></span></span></a    </li>
 
 <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Articole<span class="label label-rouded label-warning pull-right">2</span></span></a>

                            <ul aria-expanded="false" class="collapse">
                                <li><a href="ui-button.html">Pe unde pierd banii?</a></li>
                                <li><a href="ui-button.html">Cum să imi cresc profitul</a></li>
                                <li><a href="ui-button.html">Moduri eficiente de a economisi mai mulți bani</a></li>
                                <li><a href="ui-button.html">Cum să îmi investesc banii</a></li>

                                <!-- sau putem sa intram direct pe pagina cu articole si sa se aleaga de acolo ce fel de articol vrea sa vada -->
                            </ul>
                        </li>

 <li> <a href="#" aria-expanded="false"><i class="fa fa-wrench"></i><span class="hide-menu">Suport<span></span></span></a    </li>
 <li> <a href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Notificări<span></span></span></a    </li>
  <li> <a href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Grafice<span></span></span></a    </li>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">{{dashboardText}}</h3> </div>
                
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row"><h1>ECommerce</h1>
                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Encrypted Team</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="js/lib/morris-chart/raphael-min.js"></script>
    <script src="js/lib/morris-chart/morris.js"></script>
    <script src="js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/pignose.init.js"></script>

    <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>

    <!-- scripit init-->

    <script src="js/scripts.js"></script>

</body>

</html>