{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-2">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Economii</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/economii">
                            <br/>
                            <div class="form-group">
                                <input type="text" name="suma" class="form-control"  placeholder="Suma">
                            </div>
                            <div class="form-group">
                                <input type="text" name="categoria" class="form-control" placeholder="Categoria">
                            </div>
                            <div class="form-group">
                                <input type="date" name="date" class="form-control" placeholder="zz/ll/aaaa">
                            </div>
                            <div class="form-group">
                                <input type="text" name="target" class="form-control"  placeholder="Target">
                            </div>
                            <button type="submit" class="btn btn-info">Trimite</button>
                        </form>
                        <br/>
                        {% for error in errors %}
                            <li style="color:red;">{{error.msg}}</li>
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4 class="black">Economii</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Suma</th>
                                        <th>Categoria</th>
                                        <th>Data</th>
                                        <th>Target</th>
                                        <th>Procent</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for economie in economii %}
                                    <tr>
                                        <td>{{economie.suma}}</td>
                                        <td>{{economie.categoria}}</td>
                                        <td>{{economie.date}}</td>
                                        <td>{{economie.target}}</td>
                                        <td>{{ (( economie.suma/economie.target) * 100)|round(1, 'floor') }} %</td>
                                        <td>
                                            <a href="/economii/edit/{{economie.id}}">Editare</a>
                                            <a href="/economii/delete/{{economie.id}}" style="color:red;">X</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
        </div>


        <div class="row">
            {% set i = 1 %}
            {% for economie in economii %}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title black">{{ economie.date }} - {{ economie.categoria }}
                    </div>
                    <div class="flot-container">
                        <div id="flot-pie{{ i }}" class="flot-pie-container " data-target="{{ (( economie.suma/economie.target) * 100)|round(1, 'floor') }}"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
             {% set i = i + 1 %}
           {% endfor %}
         </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>
    <!-- End Container fluid  -->
{% endblock %}
{% block chartData %}
    <script>
        // Dashboard 1 Morris-chart
        $( document ).ready(function() {
            "use strict";
            // Morris bar chart
            // LINE CHART

            var economii1 = {{ economii|json_encode()|raw }};

            for(var i=1;i<=economii1.length;i++){
                var elem = "#flot-pie"+i;
                var percent = $(elem).data('target');
                var remainder = 100 - percent;

                if(percent > 100){
                    remainder = 0;
                    percent = 100;
                }

                    var data = [
                    {
                        label: "Economisit",
                        data: percent,
                        color: "#007BFF"
                    },

                    {
                        label: "Target ramas",
                        data: remainder,
                        color: "#DC3545"
                    }
                 ];

                var plotObj = $.plot( $( elem ), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: false,

                            }
                        }
                    },
                    grid: {
                        hoverable: true
                    },
                    tooltip: {
                        show: true,
                        content: "%p.0%, %s, n=%n", // show percentages, rounding to 2 decimal places
                        shifts: {
                            x: 20,
                            y: 0
                        },
                        defaultTheme: false
                    }
                } );
            }


        } );
    </script>
{% endblock %}