{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Economie</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/economii/edit/{{economie.id}}">
                            <br/>
                                <div class="form-group">
                                    <input type="text" name="suma" value="{{economie.suma}}" class="form-control"  placeholder="Suma">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="categoria" value="{{economie.categoria}}" class="form-control" placeholder="Categoria">
                                </div>
                                <div class="form-group">
                                    <input type="date" name="date" value="{{economie.date}}" class="form-control" placeholder="zz/ll/aaaa">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="target" value="{{economie.target}}" class="form-control"  placeholder="Target">
                                </div>
                                <button type="submit" class="btn btn-info">Trimite</button>
                                <br/>
                                {% for error in errors %}
                                    <li style="color:red;">{{error.msg}}</li>
                                {% endfor %}
                        </form>
                    </div>
                </div>

            </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock %}