{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
        
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
    <!-- Start Page Content -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title black">Venituri</h4>
                        <div id="morris-line-chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title black">Cheltuieli</h4>
                        <div id="morris-line-chart2"></div>
                    </div>
                </div>
            </div>
                    
        <!-- End PAge Content -->
        </div>
        <div class="row">
            {% set i = 1 %}
            {% for economie in economii %}
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title black">
                            {{ economie.date }}  - {{ economie.categoria }}
                        </div>
                        <div class="flot-container">
                            <div id="flot-pie{{ i }}" class="flot-pie-container " data-target="{{ (( economie.suma/economie.target) * 100)|round(1, 'floor') }}"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
    <!-- End Container fluid  -->
    </div>
{% endblock %}
{% block chartData %}
    <script>
        // Dashboard 1 Morris-chart
$( document ).ready(function() {
	"use strict";

    /* logica economii */
    var economii1 = {{ economii|json_encode()|raw }};

    for(var i=1;i<=economii1.length;i++){
        var elem = "#flot-pie"+i;
        var percent = $(elem).data('target');
        var remainder = 100 - percent;

        if(percent > 100){
            remainder = 0;
            percent = 100;
        }

        var data = [
            {
                label: "Economisit",
                data: percent,
                color: "#007BFF"
            },

            {
                label: "Target ramas",
                data: remainder,
                color: "#DC3545"
            }
        ];

        var plotObj = $.plot( $( elem ), data, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    label: {
                        show: false,

                    }
                }
            },
            grid: {
                hoverable: true
            },
            tooltip: {
                show: true,
                content: "%p.0%, %s, n=%n", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        } );
    }
	/* end logica economii */

	// Morris bar chart
	// LINE CHART
    var venituri = {{ venituri|json_encode()|raw }};
    var cheltuieli = {{ cheltuieli|json_encode()|raw }};
    var data = [];
    var data1 = [];
    var year = 2016;

    venituri.forEach(function(venit){
        var doc = venit._doc;

        var date = new Date(doc.date);
        var year = date.getFullYear();
        var quarter = Math.floor((date.getMonth() + 3) / 3);

        data.push({ item1: doc.suma, y: year + ' Q' + quarter });
    });

    cheltuieli.forEach(function(cheltuiala){
        var doc = cheltuiala._doc;

        var date = new Date(doc.date);
        var year = date.getFullYear();
        var quarter = Math.floor((date.getMonth() + 3) / 3);

        data1.push({ item1: doc.suma, y: year + ' Q' + quarter });
    });

	var line = new Morris.Line( {
		element: 'morris-line-chart1',
		resize: true,
		data: data,
		xkey: 'y',
		ykeys: [ 'item1' ],
		labels: [ 'Item 1' ],
		gridLineColor: '#eef0f2',
		lineColors: [ '#4680ff' ],
		lineWidth: 1,
		hideHover: 'auto'
	} );

    var line1 = new Morris.Line( {
        element: 'morris-line-chart2',
        resize: true,
        data: data1,
        xkey: 'y',
        ykeys: [ 'item1' ],
        labels: [ 'Item 1' ],
        gridLineColor: '#eef0f2',
        lineColors: [ '#4680ff' ],
        lineWidth: 1,
        hideHover: 'auto'
    } );

} );

    </script>
{% endblock %}