<!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">
                    <!-- Logo icon -->
                    <b><img src="/images/logo.png" alt="homepage" class="dark-logo" /></b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span><img src="/images/logo1fals2.png" alt="homepage" class="dark-logo" /></span>
                </a>
            </div>
            <!-- End Logo -->
            <div class="navbar-collapse">
               
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">

                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item m-l-10; "> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                     <li>
                         {% if user %}
                             <h3 class=" align-self-center" style="margin-top:10px;color:#000;"> Bine ați revenit, {{ user.username }}  <a href="/users/logout" class="header-links">Logout</a></h3>
                         {% endif %}
                     </li>
                    <!-- Messages -->
                    <!-- End Messages -->
                </ul>
                <!-- User profile and search -->
                <ul class="navbar-nav my-lg-0">
                    <li class="action-buttons">
                        <div class="dropdown">
                            <input class="btn btn-info btn-flat m-b-10 m-l-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" type="button" value="+Venit"/>
                            <div class="dropdown-menu  row">
                                <ul>
                                    <li>
                                        <div class="drop-title">Adaugă Venit</div>
                                    </li>
                                    <li>
                                        <form method="post" action="/venituri" autocomplete="off">
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <select  name="moneda" class="form-control custom-select" tabindex="1">
                                                    <option value="">Alege o monedă</option>
                                                    <option value="RON">RON</option>
                                                    <option value="EUR">EUR</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <select  name="cont" class="form-control custom-select" tabindex="1">
                                                    <option value="">Alege un cont</option>
                                                    {% for cont in conturiUser %}
                                                        <option value={{ cont.numar }}>{{ cont.numar }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="date" name="date" class="form-control" placeholder="zz/ll/aaaa">
                                            </div>
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <input type="text" name="suma" class="form-control" placeholder="Sumă">
                                            </div>
                                            <div class="form-success" style="display:none"></div>
                                            <button type="submit" class="btn btn-info addVenituri">Trimite</button>
                                        </form>
                                        <br/>
                                        {% for error in errors %}
                                    <li style="color:red;">{{error.msg}}</li>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <input class="btn btn-warning btn-flat m-b-10 m-l-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" type="button" value="-Cheltuială"/>
                            <div class="dropdown-menu  row">
                                <ul>
                                    <li>
                                        <div class="drop-title">Adaugă Cheltuială</div>
                                    </li>
                                    <li>
                                        <form method="post" action="/cheltuieli" autocomplete="off">
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <select  name="moneda" class="form-control custom-select" tabindex="1">
                                                    <option value="">Alege o monedă</option>
                                                    <option value="RON">RON</option>
                                                    <option value="EUR">EUR</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <select  name="cont" class="form-control custom-select" tabindex="1">
                                                    <option value="">Alege un cont</option>
                                                    {% for cont in conturiUser %}
                                                        <option value={{ cont.numar }}>{{ cont.numar }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <input type="text" name="categoria" class="form-control" placeholder="Categoria">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" name="date" class="form-control" placeholder="dd/mm/yyyy">
                                            </div>
                                            <div class="form-group">
                                                <div class="err-container" style="display:none"></div>
                                                <input type="text" name="suma" class="form-control" placeholder="Suma">
                                            </div>
                                            <div class="form-success" style="display:none"></div>
                                            <button type="submit" class="btn btn-info addCheltuieli">Trimite</button>
                                        </form>
                                        <br/>
                                        {% for error in errors %}
                                    <li style="color:red;">{{error.msg}}</li>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                   <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                    <!-- Comment -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
                            <div class="notify">  </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                            <ul>
                                <li>
                                    <div class="drop-title">Notificări</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Bine ai venit!</h5> <span class="mail-desc">Ne bucurăm că folosești platforma noastră</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Bine ai venit!</h5> <span class="mail-desc">Ne bucurăm că folosești platforma noastră</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Bine ai venit!</h5> <span class="mail-desc">Ne bucurăm că folosești platforma noastră</span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#">
                                            <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                            <div class="mail-contnet">
                                                <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center" href="javascript:void(0);"> <strong>Toate notificările</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- End Comment -->
                 
                    <!-- Profile -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/images/users/5.jpg" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="#"><i class="ti-user"></i> Profil</a></li>
                                <li><a href="#"><i class="ti-wallet"></i> Situație buget</a></li>
                                <li><a href="#"><i class="ti-emW    EV  WRVail"></i> Inbox</a></li>
                                <li><a href="#"><i class="ti-settings"></i> Setări</a></li>
                                <li><a href="/login"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
<!-- End headerheader -->