{% extends 'layout_index.twig' %}
{% block content %}

     
	 
    
    <div class="row justify-content-center" id="echipaid">
        <div class="col-8 col-lg-5 marime"  >
        <br/><br/>
            <h1>Despre<img src="images/despre.png" /></h1>
            <p style="color:black">Câti dintre dumneavoastră ați simțit vreodată că pierdeți bani pe lucruri inutile, fără să realizați?
Pentru a rezolva această problemă, echipa noastră a conceput PiggyBank: un site gratuit, ușor de utilizat și destinat oricărei persoane care dorește să iși acopere găurile din buget. Datorită formularelor și graficelor ușor de urmărit, PiggyBank vă va da posibiliatea să monitorizați eficient și simplu toate cheltuielile și veniturile dumneavoastră. Astfel, puțeti să faceți economii pentru a vă permite lucrurile pe care vi le doreați de mult timp. Așadar, vă invităm să încercați PiggyBank, soluția dumneavoatră pentru o viată prosperă.
</p>
            
        </div> 

        <div class="col-4 col-lg-3">
        <br/><br/><br/><br/>
            <div class="card bg-dark" >
                <div class="testimonial-widget-one p-17">
                    <div class="testimonial-widget-one owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial-content" >
                                <img class="testimonial-author-img" src="images/avatar/amos.jpg" alt="" />
                                <div class="testimonial-author">Andreica Amos</div>
                                <div class="testimonial-author-position">Teamlead & Backend</div>

                                <div class="testimonial-text testimonial-text">
                                    <i class="fa fa-quote-left"></i>  Mi-a făcut o deosebită plăcere să particip în acest program și recunosc că mi-am descoperit calitățiile de lider coordonând o echipa spre crearea unei aplicații de succes nu numai pentru a câștiga iminentul concurs, ci și pentru crearea unei potențiale afaceri.
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <img class="testimonial-author-img" src="images/avatar/naomi.jpg" alt="" />
                                <div class="testimonial-author">Tranca Naomi</div>
                                <div class="testimonial-author-position">Powerpoint Presentation & Video Editing</div>

                                <div class="testimonial-text testimonial-text">
                                    <i class="fa fa-quote-left"></i>  Unul dintre hobby-urile mele, informatica, s-a transformat intr-o adevarata pasiune in cadrul acestui program, asadar Dpit si-a indeplinit scopul. Astfel, am creat o aplicatie destinata gestionarii banilor cu multa usurinta, care sper ca o sa va ofere o experienta placuta !
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <img class="testimonial-author-img" src="images/avatar/andrei.jpg" alt="" />
                                <div class="testimonial-author">Alexandru Bese</div>
                                <div class="testimonial-author-position"> Senior Software Engineer. 3Pillar Global</div>

                                <div class="testimonial-text">
                                    <i class="fa fa-quote-left"></i>  Highly optimistic and determined I constantly strive to deliver high quality and performing applications. My main drive throughout the years is professional development.

I like to tackle challenges and I view them as an opportunity to learn something new.


                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <img class="testimonial-author-img" src="images/avatar/george.jpg" alt="" />
                                <div class="testimonial-author">Nadejde George</div>
                                <div class="testimonial-author-position">Design & Backend</div>

                                <div class="testimonial-text">
                                    <i class="fa fa-quote-left"></i>  Nu credeam că experiența din programul "Descoperă-ți pasiunea în I.T." mă va ajuta atât de mult in alegerea unei cariere. A fost o perioadă în care am învatat multe lucruri interesante și sunt sigur că le voi ține minte mult timp de acum înainte.
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <img class="testimonial-author-img" src="images/avatar/iulia.jpg" alt="" />
                                <div class="testimonial-author">Rus Iulia</div>
                                <div class="testimonial-author-position">Logo Creation & Design</div>

                                <div class="testimonial-text">
                                    <i class="fa fa-quote-left"></i> Unul dintre hobby-urile mele, informatica, s-a transformat intr-o adevarata pasiune in cadrul acestui program, asadar Dpit si-a indeplinit scopul. Astfel, am creat o aplicatie destinata gestionarii banilor cu multa usurinta, care sper ca o sa va ofere o experienta placuta !
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <img class="testimonial-author-img" src="images/avatar/horea.jpg" alt="" />
                                <div class="testimonial-author">Cenan Horea</div>
                                <div class="testimonial-author-position">Database & Frontend</div>

                                <div class="testimonial-text">
                                    <i class="fa fa-quote-left"></i>  Pasiunile mele sunt fizica și informatică și as putea spune că programul "Descoperă-ți pasiunea în I.T." m-a ajutat decisiv în alegerea unei cariere pe mai departe.
                                    <i class="fa fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div  ></div>
    </div>   

    <br/><br/><br/><br/><br/><br/>


    <div class="row justify-content-center mx-0 px-0 bg-white" style="text-align:center" id="echipaid">
        <div class="ncol marime mx-0">
            <br/><br/>
            <h1>De ce<img src="images/despre.png" />?</h1>
            <img src="images/untitled.png" />
       </div>
    </div>   

    <br/><br/><br/>
    
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10"  >
<iframe width="1120" height="630" src="https://www.youtube.com/embed/JbWxVfIaQ9E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
        </div>
    </div>
    
    <br/><br/><br/>

    <!--
<video width="320" height="240" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>    
    
    -->

    <div class="row justify-content-center bg-dark">
        <div class="col-12 col-lg-8 marime">
        <br/><br/>
            <h1 class="text-white">Despre<img src="images/despre.png" /></h1>
          
            <p > · Câți dintre  ați simțit vreodată că pierdeți bani pe cumpărături inutile și pe lucruri de care nici nu aveți nevoie de fapt? </p>
            <p>
                 · Tutorialele de pe prima pagină cât și serviciul nostru de suport printr-un formular de contact ușor de utilizat te vor ajuta în cazul în care nu te descurci. 
            </p>
             <p>
                 ·  Cu ajutorul monitorizării veniturilor și a cheltuielilor, veți putea stii pe ce s-au dus banii voștri și veți putea să vedeți principalele zone în care puteți să cheltuiți mai puțin.
            </p>
                <p>
                 ·   Așa că, intră acum pe site-ul nostru, fă-ți cont, alege metoda de plata și încearcă perioada gratuită de 30 de zile. 
                PiggyBank, drumul tău spre o viață prosperă </p>     
                <br/><br/>       
        </div>
    </div>

    <br/><br/><br/><br/><br/><br/>
               


    <br/>

    <div class="row justify-content-center">
        <div class="col col-lg-4">
            <div id="contactid" >
                <h2 class="m-b-20">CONTACTAȚI-NE</h2>
                                                
                    <form method="post" action="/contact">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="exampleInputname1" placeholder="Nume si Prenume"> </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Adresa de email"> </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" id="exampleTextarea" rows="3" placeholder="Mesaj"></textarea>
                                    </div>
                                <button type="submit" class="btn btn-info">Trimite</button>
                    </form>
            </div>
        </div>
        <div class="col col-lg-4 marime">
            <p><br/><br/></br>Pentru probleme, nemulțumiri, sugestii ne puteți contacta la adresa de email encryptedteam06@gmail.com și vă vom răspunde în cel mai scurt timp cu putință.</p>
        </div>
        
    </div>  

    <br/><br/><br/><br/><br/><br/>
      


     


    
                    
    
{% endblock %}
  