<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-89">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="descrl  iwejvibiption" content="">
    <meta name="author" content="">
    <!-- Favicon icon asjgduifg -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/pozabara.png">
    <title>{{title}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50"> 
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper-->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar fixed-top top-navbar navbar-expand-md navbar-light bg-light">
                <!-- Logo -->
                <div class="navbar-header logostyle">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                        <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="images/logo1fals2.png" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse ">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        
                    </ul>
                
                    <ul class="navbar-nav mr-auto mt-md-0">
                         <a href="/">ACASĂ</a>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <a href="#contactid">SERVICII</a>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <a href="#echipaid">ECHIPĂ</a>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <a href="#contactid">CONTACT</a>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <a href="/login">LOGIN</a>
                    </ul>
                
                       
                     </ul>
                </div>
            </nav>
        </div>
        
       

            

        
        <div class="container-fluid pozafundal">
                 {% block content %}{% endblock %} 
        
    <footer class="footer footer-home"> © 2018 All rights reserved. Encrypted Team
    <div class="social-icons-style" >
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-linkedin"></a> <!-- https://fontawesome.com/icons/linkedin?style=brands  search dupa iconita si copiati clasa-->
    </div>
    </footer>
   
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Amchart -->
     <script src="js/lib/morris-chart/raphael-min.js"></script>
    <script src="js/lib/morris-chart/morris.js"></script>
    <script src="js/lib/morris-chart/dashboard1-init.js"></script>


	<script src="js/lib/calendar-2/moment.latest.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/semantic.ui.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/prism.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/pignose.calendar.min.js"></script>
    <!-- scripit init-->
    <script src="js/lib/calendar-2/pignose.init.js"></script>

    <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>

    <!-- scripit init-->

    <script src="js/scripts.js"></script>

</body>

</html>