<!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label"></li>
                    <li> <a href="/grafice" ><i class="fa fa-bar-chart"></i><span class="hide-menu">Grafice</span></a></li>
                    <li> <a href="/conturi" ><i class="fa fa-briefcase"></i><span class="hide-menu">Conturile mele</span></a></li>
                    <li> <a href="/venituri" ><i class="fa fa-briefcase"></i><span class="hide-menu">Venituri</span></a></li>
                    <li> <a href="/cheltuieli" ><i class="fa fa-suitcase"></i><span class="hide-menu">Cheltuieli</span></a></li>
                    <li> <a href="/economii" ><i class="fa fa-dollar"></i><span class="hide-menu">Economii</span></a></li>
                    <li> <a href="/suport" ><i class="fa fa-wrench"></i><span class="hide-menu">Suport</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
<!-- End Left Sidebar  -->