{% extends 'layout.twig' %}
{% block content %}

    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4 class="black">Suport</h4>
                    </div>
                    <div class="card-body">
                        Informatii suport, daca aveti intrebari despre aplicatie va rog sa ne contactati prin formularul de contact
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4 class="black">Contact</h4>
                    </div>
                    <div class="card-body">
                        <div id="contactid" >
        <li>
       
                                        
            <form method="post" action="/contact">
                <div class="form-group">
                      <input type="text" class="form-control" name="name" id="exampleInputname1" placeholder="Nume si Prenume"> </div>
                            <div class="form-group">
                                  <input type="email" name="email" class="form-control" placeholder="Adresa de email"> </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="exampleTextarea" rows="3" placeholder="Mesaj"></textarea>
                             </div>
                         <button type="submit" class="btn btn-info">Trimite</button>
             </form>
        </li>
</div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        
    </div>                    








  

 {% endblock %}