{% extends 'layout.twig' %}
{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">{{dashboardText}}</h3> </div>
      
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Venituri</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/venituri/edit/{{venit.id}}">
                            <br/>
                            <div class="form-group">
                                <select  name="moneda" class="form-control custom-select" tabindex="1">
                                    <option {% if venit.moneda == 'RON' %} selected="selected" {% endif %} value="RON">RON</option>
                                    <option {% if venit.moneda == 'EUR' %} selected="selected" {% endif %}value="EUR">EUR</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select  name="cont" class="form-control custom-select" tabindex="1">
                                    {% for cont in conturi %}
                                        <option {% if venit.cont==cont.numar %} selected="selected"{% endif %} value={{ cont.numar }}>{{ cont.numar }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="suma" value="{{venit.suma}}" class="form-control" placeholder="Sumă">
                            </div>
                                <button type="submit" class="btn btn-info">Trimite</button>
                                <br/>
                                {% for error in errors %}
                                    <li style="color:red;">{{error.msg}}</li>
                                {% endfor %}
                        </form>
                    </div>
                </div>

            
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock %}